AxIA.json
{
  "name": "AxIA_chatbot_whatsapp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "377e4a38-e7cd-446e-9ed4-4354613c96ab",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2000,
        0
      ],
      "id": "fc48f1a1-e1be-4488-8311-2b0507e8a128",
      "name": "Webhook",
      "webhookId": "377e4a38-e7cd-446e-9ed4-4354613c96ab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "425a2c98-c845-4aac-9fc5-5b1d1e0c6d7d",
              "name": "clean_sender",
              "value": "={{ $json.body.data.key.remoteJid.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "90a11045-2c69-4d30-a306-2b83bc7e9aa9",
              "name": "message_type",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "556d3fd7-bcc0-4a5b-93b8-ee4bd0f84327",
              "name": "voyce_message",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "b1c8926e-ef27-4733-a315-4464db85c444",
              "name": "text_message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "ab6b9337-aa37-46e8-96a1-3183e9c8f121",
              "name": "session_id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "fa8607fd-000f-4c3e-ab87-8671c0f0fb91",
              "name": "data_time",
              "value": "={{ $json.body.data.messageTimestamp.toDateTime('s').toLocal() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1800,
        0
      ],
      "id": "1928c7f6-33ac-4b05-80c6-29053f764025",
      "name": "data message extraction"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7dc76ac0-fc7d-4060-b9ff-57821886e4d5",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1600,
        0
      ],
      "id": "824264e8-c991-401e-be6a-c4a7b8b84b80",
      "name": "El mensaje es mio?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO my_activity (last_active, is_online)\nVALUES (NOW(), TRUE)\nON CONFLICT (id) DO UPDATE SET\n  last_active = NOW(),\n  is_online = TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1400,
        -200
      ],
      "id": "2115dfb1-e0e4-4272-8dd0-879a1928ca22",
      "name": "Actualizar my_activity",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_state (phone, last_message_from_you, updated_at)\nVALUES ($1, NOW(), NOW())\nON CONFLICT (phone) DO UPDATE SET\n  last_message_from_you = NOW(),\n  updated_at = NOW();",
        "options": {
          "queryReplacement": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1200,
        -200
      ],
      "id": "d0935cf7-403c-45ba-9168-affb940340cb",
      "name": "Actualizar conversation_state2",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE conversation_state \nSET \n  axia_session_active = FALSE,\n  last_message_from_axia = NOW(),\n  updated_at = NOW()\nWHERE phone = $1;",
        "options": {
          "queryReplacement": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1000,
        -200
      ],
      "id": "8f8f5d00-6f28-414a-94bb-c621358f7e82",
      "name": "DB: Cerrar Sesión Axia",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('data message extraction').item.json.message_type }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4d901c49-943d-472d-8b3a-4974d7e961cc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ba73df4b-b72c-4160-95f8-eca0cf7514c2",
                    "leftValue": "={{ $('data message extraction').item.json.message_type }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1400,
        200
      ],
      "id": "8056214e-f759-470b-8498-07984ecc74db",
      "name": "Tipo de mensaje"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3dbb85ff-aff5-43ea-9e18-ebccf15d3aa2",
              "name": "final_message",
              "value": "={{ $('data message extraction').item.json.text_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        200
      ],
      "id": "b1bccddf-1417-474e-a864-84b92d858d76",
      "name": "final_message_text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fd59fd7-da93-42b4-bc75-2ab96c5b0266",
              "name": "voz ",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        400
      ],
      "id": "a09d2697-2ee0-492c-b104-bf2a892ff6b7",
      "name": "extaer voz"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "voz ",
        "options": {
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1000,
        400
      ],
      "id": "67d92334-a2c1-4bb5-bc5a-c908a0b3f8db",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -800,
        400
      ],
      "id": "31338f2b-a93c-409a-a2df-b7a6bfbc3737",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "zzzm8SJz7mWdmaGr",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "372b93b7-86d3-4978-824d-947bae2326da",
              "name": "final_message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        400
      ],
      "id": "11eafae4-0542-4964-899c-650992dcb565",
      "name": "final_message_voice"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -600,
        600
      ],
      "id": "653b78cc-8612-482d-8bef-30a608db5396",
      "name": "No hacer nada"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}",
        "messageData": "={{ JSON.stringify(\n{\n'message': $json.final_message,\n'session_id': $('data message extraction').item.json.session_id ,\n'date_time':  $('data message extraction').item.json.data_time\n}\n) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -400,
        0
      ],
      "id": "62b41cd5-ab28-46d8-8bec-7e2736dffb9f",
      "name": "Buffer",
      "credentials": {
        "redis": {
          "id": "GHku9UfCaBrUFzpF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ],
      "id": "a73a019c-b69a-4a6e-b786-aee510f3422e",
      "name": "Get_buffer_data",
      "credentials": {
        "redis": {
          "id": "GHku9UfCaBrUFzpF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message.last()).session_id }}",
                    "rightValue": "={{ $('data message extraction').item.json.session_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "c3277909-19eb-41ae-8910-4708bd9192c5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ignorar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3b2dc2c4-1aea-401f-84da-5487394e0836",
                    "leftValue": "={{ JSON.parse($json.message.last()).date_time }}",
                    "rightValue": "={{ $now.minus(7, 'seconds').toLocal() }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continuar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        0,
        0
      ],
      "id": "ff572549-d925-4c90-9e57-974cb8b1278a",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        200,
        -200
      ],
      "id": "2462c64a-068d-4926-aa31-15d669495f61",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        200,
        200
      ],
      "id": "6b4b176f-7bfe-4cae-a396-15e069031463",
      "name": "espera 7 segundos",
      "webhookId": "27d3cddc-deaf-4533-b38c-152d13457a2c"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "1d77e0a9-b5a4-4861-ac67-62440f12bb18",
      "name": "Delete_buffer",
      "credentials": {
        "redis": {
          "id": "GHku9UfCaBrUFzpF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44fb7c29-d11c-4e4f-8293-9e3831fb87f6",
              "name": "concat_message",
              "value": "={{ $json.message.map(m=> JSON.parse(m).message).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        0
      ],
      "id": "72df7eab-aa7d-4116-8a6d-e75b8f542dc3",
      "name": "mensaje_final_concatenado"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "whatsapp_messages",
          "mode": "list",
          "cachedResultName": "whatsapp_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "from_me": false,
            "from_axia": false,
            "is_important": false,
            "phone": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}",
            "message_text": "={{ $json.concat_message }}",
            "message_type": "={{ $('data message extraction').item.json.message_type }}",
            "session_id": "={{ $('data message extraction').item.json.session_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_me",
              "displayName": "from_me",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_axia",
              "displayName": "from_axia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_important",
              "displayName": "is_important",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        0
      ],
      "id": "3971e4a8-a4c9-4980-8547-327de437605d",
      "name": "Guardar mensaje en la db",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_state (phone, last_message_from_them, updated_at)\nVALUES ($1, NOW(), NOW())\nON CONFLICT (phone) DO UPDATE SET\n  last_message_from_them = NOW(),\n  updated_at = NOW();",
        "options": {
          "queryReplacement": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1000,
        0
      ],
      "id": "e53466c1-99d1-4e9b-99e5-a22d9b3836ae",
      "name": "Actualizar conversation_state",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TO_CHAR(last_active AT TIME ZONE 'America/Bogota', 'YYYY-MM-DD\"T\"HH24:MI:SS.MS\"-05:00\"') AS last_active_local\nFROM my_activity \nORDER BY id DESC \nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        0
      ],
      "id": "04212f83-f46c-4f0b-a754-3b6ea096f00d",
      "name": "Consultar mi tiempo inactivo",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ],
      "id": "f5cf2658-7923-4301-a576-a9e5a6a783a4",
      "name": "Ahora (Local)"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $('Consultar mi tiempo inactivo').item.json.last_active_local }}",
        "endDate": "={{ $json.currentDate }}",
        "units": [
          "minute"
        ],
        "outputFieldName": "=tiempo_inactivo",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "id": "b1849091-93e4-40e9-84cb-2ae82a4480b3",
      "name": "Calcular Diferencia Minutos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff561f45-c6d0-4e6a-8f50-f356f407b00d",
              "name": "tiempo_inactivoParseado",
              "value": "={{ $json.tiempo_inactivo.minutes.toString().split(\".\")[0].toNumber() }}",
              "type": "number"
            },
            {
              "id": "079cb109-b237-410b-86eb-44ef38a0d8b4",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        0
      ],
      "id": "eacbefef-6e3b-4575-a9d4-33b9101ae424",
      "name": "parsear minutos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aebdeead-9f6d-49d9-8111-b2d6946b1f24",
              "leftValue": "={{ $json.tiempo_inactivoParseado }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        0
      ],
      "id": "ebb1332e-bd73-4c91-803b-5661dd18f1ec",
      "name": "Estoy inactivo?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  TO_CHAR(last_message_from_you AT TIME ZONE 'America/Bogota', 'YYYY-MM-DD\"T\"HH24:MI:SS.MS\"-05:00\"') AS last_message_from_you_local,\n  TO_CHAR(last_message_from_them AT TIME ZONE 'America/Bogota', 'YYYY-MM-DD\"T\"HH24:MI:SS.MS\"-05:00\"') AS last_message_from_them_local\nFROM conversation_state \nWHERE phone = $1;\n",
        "options": {
          "queryReplacement": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2200,
        0
      ],
      "id": "621ff4ee-e0f3-4c39-91c2-1152fe28c262",
      "name": "consultar estado de la conversacion",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.last_message_from_you_local }}",
        "endDate": "={{ $('Ahora (Local)').item.json.currentDate }}",
        "units": [
          "minute"
        ],
        "outputFieldName": "tiempo_ultimo_mensaje_mio",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2400,
        0
      ],
      "id": "d1f6ab34-2d56-4da6-84c5-b7d8032dd964",
      "name": "Calcular tiempo en que escribo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.last_message_from_them_local }}",
        "endDate": "={{ $('Ahora (Local)').item.json.currentDate }}",
        "units": [
          "minute"
        ],
        "outputFieldName": "tiempo_ultimo_mensaje_otro",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2600,
        0
      ],
      "id": "deec6c60-6a36-4e50-bd49-5f78709f25bd",
      "name": "calcular tiempo de que me escriben",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33d41965-a3a3-404a-b10f-e12486b65898",
              "name": "tiempo_ultimo_mensaje_mio.minutes",
              "value": "={{ $('Calcular tiempo en que escribo').item.json.tiempo_ultimo_mensaje_mio.minutes.round() }}",
              "type": "number"
            },
            {
              "id": "b838d274-6889-4008-bfaf-a3efb3bda88e",
              "name": "tiempo_ultimo_mensaje_otro.minutes",
              "value": "={{ $json.tiempo_ultimo_mensaje_otro.minutes.round() }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2800,
        0
      ],
      "id": "b3e581ba-ea4a-4c8e-a5df-1f1ba6fbbcf2",
      "name": "Parsear tiempos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d0ad7a46-0b60-41b8-b5b5-5bc1f4f31339",
              "leftValue": "={{ $json.tiempo_ultimo_mensaje_otro.minutes }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "7ac9d784-920b-46ec-9697-3240fa9b6643",
              "leftValue": "={{ $json.tiempo_ultimo_mensaje_mio.minutes }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3000,
        0
      ],
      "id": "d2b19036-72e8-4a5e-86d0-113838c41443",
      "name": "Conversacion inactiva?"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3200,
        0
      ],
      "id": "67074571-9249-4a9e-af3e-232b5669a3ec",
      "name": "Buscar en mis contactos",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3f12f1a-b192-48cb-8c6b-d424a078289c",
              "name": "full_name",
              "value": "={{ $json.full_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3400,
        0
      ],
      "id": "21cb581b-91b5-433f-b52d-4e4ab48974b6",
      "name": "Extraer full name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "380355c1-4a60-4a7d-987b-117138df04ac",
              "leftValue": "={{ $('Extraer full name').item.json.full_name }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3600,
        0
      ],
      "id": "3e3e6823-01f8-44ad-a0d4-5e2730659a09",
      "name": "contacto existe?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  axia_session_active,\n  axia_session_ended_at\nFROM conversation_state \nWHERE phone = $1;",
        "options": {
          "queryReplacement": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3800,
        0
      ],
      "id": "8e316d94-1b86-4416-b727-c15933cc5446",
      "name": "Estado de sesion axia",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5976d0c3-a9fe-4b46-bbaa-796a9ee85131",
              "name": "greeting",
              "value": "={{ $json.custom_greeting }}",
              "type": "string"
            },
            {
              "id": "a0a4bbd9-b51b-4cd2-8967-d401cb2bd9ba",
              "name": "context",
              "value": "={{ $json.context_notes }}",
              "type": "string"
            },
            {
              "id": "abc040ba-720c-4f4d-8277-bf805ba154ce",
              "name": "relationship",
              "value": "={{ $json.relationship }}",
              "type": "string"
            },
            {
              "id": "2a073919-b84c-4383-a04b-0fd1a119fe75",
              "name": "contact_name",
              "value": "={{ $json.full_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4000,
        0
      ],
      "id": "6cce1f76-2f0a-4839-8c78-c96809f15dd9",
      "name": "saludo Personalizado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8470e20-27eb-4b3c-be76-c8a6293a1f24",
              "name": "id",
              "value": "={{ $('Buscar en mis contactos').item.json.id }}",
              "type": "number"
            },
            {
              "id": "0ea560bf-bcce-40c8-842e-591c31a3dcd6",
              "name": "phone",
              "value": "={{ $('Buscar en mis contactos').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "d6e710bc-60d0-42cf-b0a3-517ca10b7ddc",
              "name": "full_name",
              "value": "={{ $('Buscar en mis contactos').item.json.full_name }}",
              "type": "string"
            },
            {
              "id": "699596f8-0f2f-4825-9589-10b5ecf792c7",
              "name": "first_name",
              "value": "={{ $('Buscar en mis contactos').item.json.first_name }}",
              "type": "string"
            },
            {
              "id": "bbd06b92-bbe4-4a71-9f59-55fe1ba1bd82",
              "name": "relationship",
              "value": "={{ $('Buscar en mis contactos').item.json.relationship }}",
              "type": "string"
            },
            {
              "id": "723d126d-6400-4073-bf2f-3d065a0b5704",
              "name": "custom_greeting",
              "value": "={{ $('Buscar en mis contactos').item.json.custom_greeting }}",
              "type": "string"
            },
            {
              "id": "de066a21-0643-46a4-b758-9c74c8e3c8d1",
              "name": "context_notes",
              "value": "={{ $('Buscar en mis contactos').item.json.context_notes }}",
              "type": "string"
            },
            {
              "id": "e8ad0b1e-6d29-46e3-85a7-05ea2b455acd",
              "name": "is_active",
              "value": "={{ $('Buscar en mis contactos').item.json.is_active }}",
              "type": "boolean"
            },
            {
              "id": "ba9a9773-cfec-493e-a8b1-77cd0e0abbab",
              "name": "created_at",
              "value": "={{ $('Buscar en mis contactos').item.json.created_at }}",
              "type": "string"
            },
            {
              "id": "7a5e28b3-4525-4594-b15d-04238511e95d",
              "name": "updated_at",
              "value": "={{ $('Buscar en mis contactos').item.json.updated_at }}",
              "type": "string"
            },
            {
              "id": "b1b315b5-dacc-4dd3-af9e-2b834e5726b5",
              "name": "tone_style",
              "value": "={{ $('Buscar en mis contactos').item.json.tone_style }}",
              "type": "string"
            },
            {
              "id": "def31a18-9b57-43fe-8612-a4ffd55fe8ea",
              "name": "nicknames_used",
              "value": "={{ $('Buscar en mis contactos').item.json.nicknames_used }}",
              "type": "string"
            },
            {
              "id": "11dd55a1-2120-440c-9355-a6386848bddd",
              "name": "affection_words",
              "value": "={{ $('Buscar en mis contactos').item.json.affection_words }}",
              "type": "string"
            },
            {
              "id": "e732b8c4-256a-4b49-ad91-aefe7c86d839",
              "name": "common_emojis",
              "value": "={{ $('Buscar en mis contactos').item.json.common_emojis }}",
              "type": "string"
            },
            {
              "id": "e2da9e31-0ff3-4026-bf6b-5d31ca0f1c29",
              "name": "response_speed",
              "value": "={{ $('Buscar en mis contactos').item.json.response_speed }}",
              "type": "string"
            },
            {
              "id": "63bef405-341d-48dc-99c3-236b8a26cb0e",
              "name": "main_topics",
              "value": "={{ $('Buscar en mis contactos').item.json.main_topics }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4200,
        0
      ],
      "id": "eb74a206-cab2-4d16-beef-826c01ff325c",
      "name": "Extraer Datos de contacto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3f31721-1a91-4c20-a850-4d50faf7080c",
              "name": "prompt",
              "value": "={{ $('mensaje_final_concatenado').item.json.concat_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4400,
        0
      ],
      "id": "be0bd468-a512-4f46-b4bd-0b3d2d6a00ca",
      "name": "Construir prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4600,
        200
      ],
      "id": "5d3279a4-4e3f-4c9f-9009-69cff3ffb6d7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ww5BhU7ch7PMwJLl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}",
        "tableName": "n8n_chat_historial",
        "contextWindowLength": 90
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4600,
        400
      ],
      "id": "17fccafd-d55e-4f78-9fc8-0e316625efc7",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4800,
        0
      ],
      "id": "639d8299-5123-4fa6-bc5a-b0acd08f2188",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "toolDescription": "Envia un mensaje desde el numero de mi asistente a mi numero principal para notificarme temas importantes directamente",
        "method": "POST",
        "url": "=https://evolutionapi.axchisan.com/message/sendText/AxIAPersonal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "aCNUs6aF9S81Qf1F0DEMVedjIju0LZJv"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=573183038190"
            },
            {
              "name": "text",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4800,
        200
      ],
      "id": "a3a72d8a-8514-4910-bc7e-3da18aea9177",
      "name": "Enviar mensaje desde num asistente a mi numero"
    },
    {
      "parameters": {
        "toolDescription": "Envia un mensaje al numero que la IA asigne desde el numero de secundario de la assitente",
        "method": "POST",
        "url": "=https://evolutionapi.axchisan.com/message/sendText/AxIAPersonal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "aCNUs6aF9S81Qf1F0DEMVedjIju0LZJv"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "text",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4800,
        400
      ],
      "id": "3b1a3e31-2a17-4c42-9a4d-9c9c5e3d6c74",
      "name": "Enviar mensaje desde num asistente a numero personalizado"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "whatsapp_messages",
          "mode": "list",
          "cachedResultName": "whatsapp_messages"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        4800,
        600
      ],
      "id": "c5f6a2d1-5b4e-4d7d-9e8a-5f4e7d8a9b0c",
      "name": "Extraer mensaes con un numero",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5000,
        200
      ],
      "id": "f150dad7-91e8-4e6e-aeb2-62fdd34ba8cc",
      "name": "Buscar contacto por numero",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "full_name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            },
            {
              "column": "first_name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values1_Value', ``, 'string') }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5000,
        400
      ],
      "id": "8c38e10c-760a-4494-9f16-fa47f6f0a2d0",
      "name": "Buscar contacto por full_name o firts_name",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5000,
        600
      ],
      "id": "f150dad7-91e8-4e6e-aeb2-62fdd34ba8cc",
      "name": "Buscar datos de un contacto",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', ``, 'string') }}",
            "full_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('full_name', ``, 'string') }}",
            "first_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('first_name', ``, 'string') }}",
            "relationship": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('relationship', ``, 'string') }}",
            "custom_greeting": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('custom_greeting', ``, 'string') }}",
            "context_notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('context_notes', ``, 'string') }}",
            "is_active": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('is_active', ``, 'boolean') }}",
            "tone_style": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tone_style', ``, 'string') }}",
            "nicknames_used": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nicknames_used', ``, 'string') }}",
            "affection_words": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('affection_words', ``, 'string') }}",
            "common_emojis": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('common_emojis', ``, 'string') }}",
            "response_speed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('response_speed', ``, 'string') }}",
            "main_topics": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('main_topics', ``, 'string') }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "relationship",
              "displayName": "relationship",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "custom_greeting",
              "displayName": "custom_greeting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "context_notes",
              "displayName": "context_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "tone_style",
              "displayName": "tone_style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nicknames_used",
              "displayName": "nicknames_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "affection_words",
              "displayName": "affection_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "common_emojis",
              "displayName": "common_emojis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "response_speed",
              "displayName": "response_speed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "main_topics",
              "displayName": "main_topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5000,
        800
      ],
      "id": "d81b4a65-1a83-441b-bad9-5d0235134ce0",
      "name": "Insertar nuevos datos de entrenamiento para un contacto",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contact_memory",
          "mode": "list",
          "cachedResultName": "contact_memory"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', ``, 'string') }}",
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('summary', ``, 'string') }}",
            "last_summary_at": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('last_summary_at', ``, 'string') }}",
            "important_topics": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('important_topics', ``, 'string') }}",
            "urgency_keywords": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urgency_keywords', ``, 'string') }}",
            "updated_at": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('updated_at', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_summary_at",
              "displayName": "last_summary_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "important_topics",
              "displayName": "important_topics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgency_keywords",
              "displayName": "urgency_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5000,
        1000
      ],
      "id": "3b7b61d1-e481-45c8-b9f8-916784a155e6",
      "name": "Insertar  contact memory",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversation_state",
          "mode": "list",
          "cachedResultName": "conversation_state"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5200,
        200
      ],
      "id": "bd959496-e2b8-40f0-b307-cadafa8a5269",
      "name": "Consultar estado de conversacion",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversation_state",
          "mode": "list",
          "cachedResultName": "conversation_state"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "axia_session_active": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('axia_session_active', ``, 'boolean') }}",
            "last_message_from_them": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('last_message_from_them', ``, 'string') }}",
            "last_message_from_you": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('last_message_from_you', ``, 'string') }}",
            "last_message_from_axia": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('last_message_from_axia', ``, 'string') }}",
            "axia_session_ended_at": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('axia_session_ended_at', ``, 'string') }}",
            "updated_at": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('updated_at', ``, 'string') }}",
            "phone": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_message_from_them",
              "displayName": "last_message_from_them",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_message_from_you",
              "displayName": "last_message_from_you",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_message_from_axia",
              "displayName": "last_message_from_axia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "axia_session_active",
              "displayName": "axia_session_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "axia_session_ended_at",
              "displayName": "axia_session_ended_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5200,
        400
      ],
      "id": "ea58401c-0808-4155-859e-4853a019b6a6",
      "name": "actualizar estado de conversacion",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversation_state",
          "mode": "list",
          "cachedResultName": "conversation_state"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "axia_session_active": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('axia_session_active', ``, 'boolean') }}",
            "axia_session_ended_at": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('axia_session_ended_at', ``, 'string') }}",
            "updated_at": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('updated_at', ``, 'string') }}",
            "phone": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_message_from_them",
              "displayName": "last_message_from_them",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_message_from_you",
              "displayName": "last_message_from_you",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_message_from_axia",
              "displayName": "last_message_from_axia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "axia_session_active",
              "displayName": "axia_session_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "axia_session_ended_at",
              "displayName": "axia_session_ended_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        5200,
        600
      ],
      "id": "c813b262-f90c-4be0-9060-ef7e5d69a65e",
      "name": "Actualizar estado de conversacion AxIA",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5000,
        0
      ],
      "id": "31533137-7bd3-4ae1-8423-474ab15b27db",
      "name": "Validar respuesta AxIA"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94e0c5a3-ee58-4d57-9c02-272b6526e1a1",
              "name": "message",
              "value": " Disculpa, tuve un problema técnico procesando tu mensaje. ¿Podrías escribir de nuevo o reformular tu pregunta?",
              "type": "string"
            },
            {
              "id": "dc20800e-db44-47e7-af5a-be0016575068",
              "name": "send_audio",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "e8d32e7b-f082-4331-9913-2cab64f47252",
              "name": "reasoning",
              "value": "Error en el procesamiento - respuesta de fallback",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5200,
        0
      ],
      "id": "f5f25a06-1d7d-4c0e-92a2-3995b69c57b4",
      "name": "Error Handler"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44ec12f1-6df0-4418-9d9a-f7390e41b07f",
              "leftValue": "={{ $json.send_audio }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5400,
        0
      ],
      "id": "825ca8d8-81cd-4ca0-b833-9b6f9ee084ea",
      "name": "Es Audio?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/spPXlKT5a4JMfbhPRAzA",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Validar respuesta AxIA').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5600,
        200
      ],
      "id": "d74442b9-d3b1-464c-8632-664330a3dbee",
      "name": "Convertir texto a voz",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aFpfOkXe6ZHcNPjO",
          "name": "ElevenLabs3"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        5800,
        200
      ],
      "id": "40a23f4d-b8ad-4fba-8a0e-386ca59d3881",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.axchisan.com/message/sendWhatsAppAudio/{{ $('Webhook').item.json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}"
            },
            {
              "name": "audio",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6000,
        200
      ],
      "id": "af5e4d63-79fb-49c8-81b5-f4f54b94229f",
      "name": "Enviar Audio a whatsapp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XaHhJVcHS8ESkvhZ",
          "name": "EvolutionApiAxIA"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.axchisan.com/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "aCNUs6aF9S81Qf1F0DEMVedjIju0LZJv"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}"
            },
            {
              "name": "text",
              "value": "={{ $('Validar respuesta AxIA').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5600,
        0
      ],
      "id": "26fb373c-2b08-4a2a-94fa-89970b0ec6b3",
      "name": "Mensaje AxIA"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "whatsapp_messages",
          "mode": "list",
          "cachedResultName": "whatsapp_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "from_me": false,
            "from_axia": true,
            "is_important": false,
            "phone": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}",
            "message_text": "={{ $('AI Agent').item.json.output }}",
            "message_type": "={{ $json.messageType }}",
            "session_id": "={{ $json.key.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_me",
              "displayName": "from_me",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_axia",
              "displayName": "from_axia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_important",
              "displayName": "is_important",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5800,
        0
      ],
      "id": "109e4d9c-b9ad-40d8-9fb6-d64621b9b72c",
      "name": "Guardar mensaje de AxIA",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "whatsapp_messages",
          "mode": "list",
          "cachedResultName": "whatsapp_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "from_me": false,
            "from_axia": true,
            "is_important": false,
            "phone": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}",
            "message_text": "={{ $('AI Agent').item.json.output }}",
            "message_type": "={{ $json.messageType }}",
            "session_id": "={{ $json.key.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_me",
              "displayName": "from_me",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "from_axia",
              "displayName": "from_axia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_important",
              "displayName": "is_important",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6200,
        200
      ],
      "id": "49f1f382-de3f-477c-b1c8-2c2a4a5938fa",
      "name": "Guardar mensaje de AxIA1",
      "credentials": {
        "postgres": {
          "id": "jFnAwVwwnmqGkguT",
          "name": "Postgres Contactos"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        200
      ],
      "id": "bcbbbf8d-1c77-4f63-908b-439f36a4825e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3200,
        200
      ],
      "id": "c4e4bb97-4369-4182-b9f7-8a3ba3922b7f",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ddd752e5-f22e-4f96-8911-fb50eadd1735",
              "name": "phone",
              "value": "={{ $('data message extraction').item.json.clean_sender.split(\":\")[0] }}",
              "type": "string"
            },
            {
              "id": "643e4046-f51a-458f-b94c-492204badb5d",
              "name": "full_name",
              "value": "Desconocido",
              "type": "string"
            },
            {
              "id": "c2a3ed17-7d6c-44a1-9daf-1d7c1d9d4255",
              "name": "first_name",
              "value": "null",
              "type": "string"
            },
            {
              "id": "f5ce8711-8413-4790-9146-38c8f809d02b",
              "name": "relationship",
              "value": "desconocido",
              "type": "string"
            },
            {
              "id": "fe302eb0-dff1-44ab-8818-72ef51e3a27b",
              "name": "custom_greeting",
              "value": "Hola, te estás comunicando con *Duvan - Axchi*. Soy *Axia*, su asistente de inteligencia Artificial. ¿En qué te puedo ayudar?",
              "type": "string"
            },
            {
              "id": "e108d5d5-6ce4-4f8b-b49f-ee917b8975b0",
              "name": "context_notes",
              "value": "Nuevo contacto - aún sin datos de entrenamiento",
              "type": "string"
            },
            {
              "id": "145ee3fd-6e63-4e3b-9e92-06ebd5346897",
              "name": "is_active",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "9063525d-316f-46ca-a73a-ff3865930571",
              "name": "created_at",
              "value": "null",
              "type": "string"
            },
            {
              "id": "aa19fa0f-5204-4f8c-8fd7-ceb8b4174aef",
              "name": "updated_at",
              "value": "null",
              "type": "string"
            },
            {
              "id": "cd725732-21ec-42c7-a044-4475ee4c7af9",
              "name": "tone_style",
              "value": "amable, profesional, curioso",
              "type": "string"
            },
            {
              "id": "527e6a1b-a12a-4ea7-86f7-6fce0ee78597",
              "name": "nicknames_used",
              "value": "ninguno contacto nuevo",
              "type": "string"
            },
            {
              "id": "750e1333-ec50-4aab-829a-e29454d9032c",
              "name": "affection_words",
              "value": "ninguna contacto nuevo",
              "type": "string"
            },
            {
              "id": "ffd144cc-6786-4271-9873-815e56c814cd",
              "name": "common_emojis",
              "value": "ninguno contacto nuevo",
              "type": "string"
            },
            {
              "id": "706aa50b-ec-ec9e-487a-8fbf-5daa19ea335a",
              "name": "response_speed",
              "value": "normal",
              "type": "string"
            },
            {
              "id": "2ab0e93c-fe94-4131-ab56-e87325654a44",
              "name": "main-topics",
              "value": "desconocido contacto nuevo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3800,
        200
      ],
      "id": "728f9737-7bda-493a-b081-e16ae5d3d3c8",
      "name": "Datos por defecto para desconocido"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -800,
        -400
      ],
      "id": "eed77f1f-0faa-40ea-b483-06d656f8c6fb",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "color": "#FF0000",
        "content": "Sección Inicial: Recepción y Extracción de Mensajes de Webhook",
        "height": 100,
        "width": 300
      },
      "id": "note-initial",
      "name": "Nota: Inicio del Flujo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2100,
        -200
      ]
    },
    {
      "parameters": {
        "color": "#00FF00",
        "content": "Manejo de Mensajes Propios: Actualización de Actividad y Sesión",
        "height": 100,
        "width": 300
      },
      "id": "note-own-messages",
      "name": "Nota: Mensajes Propios",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1500,
        -400
      ]
    },
    {
      "parameters": {
        "color": "#0000FF",
        "content": "Procesamiento de Tipos de Mensajes: Texto y Audio",
        "height": 100,
        "width": 300
      },
      "id": "note-message-types",
      "name": "Nota: Tipos de Mensajes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1500,
        100
      ]
    },
    {
      "parameters": {
        "color": "#FFFF00",
        "content": "Buffering y Manejo de Mensajes Concatenados",
        "height": 100,
        "width": 300
      },
      "id": "note-buffering",
      "name": "Nota: Buffer de Mensajes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        -200
      ]
    },
    {
      "parameters": {
        "color": "#FF00FF",
        "content": "Gestión de Inactividad y Estado de Conversación",
        "height": 100,
        "width": 300
      },
      "id": "note-inactivity",
      "name": "Nota: Inactividad",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        -200
      ]
    },
    {
      "parameters": {
        "color": "#00FFFF",
        "content": "Búsqueda y Extracción de Contactos",
        "height": 100,
        "width": 300
      },
      "id": "note-contacts",
      "name": "Nota: Contactos",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3100,
        -200
      ]
    },
    {
      "parameters": {
        "color": "#FFA500",
        "content": "Construcción de Prompt y Agente AI",
        "height": 100,
        "width": 300
      },
      "id": "note-ai-agent",
      "name": "Nota: AI Agent",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4300,
        -200
      ]
    },
    {
      "parameters": {
        "color": "#800080",
        "content": "Herramientas del Agente: Envío de Mensajes y Consultas DB",
        "height": 100,
        "width": 300
      },
      "id": "note-tools",
      "name": "Nota: Herramientas AI",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4700,
        800
      ]
    },
    {
      "parameters": {
        "color": "#008000",
        "content": "Validación y Envío de Respuesta Final",
        "height": 100,
        "width": 300
      },
      "id": "note-response",
      "name": "Nota: Respuesta Final",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5300,
        -200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "data message extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data message extraction": {
      "main": [
        [
          {
            "node": "El mensaje es mio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "El mensaje es mio?": {
      "main": [
        [
          {
            "node": "Actualizar my_activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tipo de mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar my_activity": {
      "main": [
        [
          {
            "node": "Actualizar conversation_state2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar conversation_state2": {
      "main": [
        [
          {
            "node": "DB: Cerrar Sesión Axia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Cerrar Sesión Axia": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensaje": {
      "main": [
        [
          {
            "node": "final_message_text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "extaer voz",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No hacer nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "final_message_text": {
      "main": [
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extaer voz": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "final_message_voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "final_message_voice": {
      "main": [
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "Get_buffer_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_buffer_data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete_buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "espera 7 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera 7 segundos": {
      "main": [
        [
          {
            "node": "Get_buffer_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete_buffer": {
      "main": [
        [
          {
            "node": "mensaje_final_concatenado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensaje_final_concatenado": {
      "main": [
        [
          {
            "node": "Guardar mensaje en la db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar mensaje en la db": {
      "main": [
        [
          {
            "node": "Actualizar conversation_state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar conversation_state": {
      "main": [
        [
          {
            "node": "Consultar mi tiempo inactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar mi tiempo inactivo": {
      "main": [
        [
          {
            "node": "Ahora (Local)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ahora (Local)": {
      "main": [
        [
          {
            "node": "Calcular Diferencia Minutos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Diferencia Minutos": {
      "main": [
        [
          {
            "node": "parsear minutos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parsear minutos": {
      "main": [
        [
          {
            "node": "Estoy inactivo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estoy inactivo?": {
      "main": [
        [
          {
            "node": "consultar estado de la conversacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar estado de la conversacion": {
      "main": [
        [
          {
            "node": "Calcular tiempo en que escribo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular tiempo en que escribo": {
      "main": [
        [
          {
            "node": "calcular tiempo de que me escriben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calcular tiempo de que me escriben": {
      "main": [
        [
          {
            "node": "Parsear tiempos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear tiempos": {
      "main": [
        [
          {
            "node": "Conversacion inactiva?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversacion inactiva?": {
      "main": [
        [
          {
            "node": "Buscar en mis contactos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar en mis contactos": {
      "main": [
        [
          {
            "node": "Extraer full name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer full name": {
      "main": [
        [
          {
            "node": "contacto existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contacto existe?": {
      "main": [
        [
          {
            "node": "Estado de sesion axia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datos por defecto para desconocido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado de sesion axia": {
      "main": [
        [
          {
            "node": "saludo Personalizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "saludo Personalizado": {
      "main": [
        [
          {
            "node": "Extraer Datos de contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos de contacto": {
      "main": [
        [
          {
            "node": "Construir prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Validar respuesta AxIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje desde num asistente a mi numero": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje desde num asistente a numero personalizado": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    },
    "Extraer mensaes con un numero": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 2
          }
        ]
      ]
    },
    "Buscar contacto por numero": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 3
          }
        ]
      ]
    },
    "Buscar contacto por full_name o firts_name": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 4
          }
        ]
      ]
    },
    "Buscar datos de un contacto": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 5
          }
        ]
      ]
    },
    "Insertar nuevos datos de entrenamiento para un contacto": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 6
          }
        ]
      ]
    },
    "Insertar  contact memory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 7
          }
        ]
      ]
    },
    "Consultar estado de conversacion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 8
          }
        ]
      ]
    },
    "actualizar estado de conversacion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 9
          }
        ]
      ]
    },
    "Actualizar estado de conversacion AxIA": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 10
          }
        ]
      ]
    },
    "Validar respuesta AxIA": {
      "main": [
        [
          {
            "node": "Es Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Audio?": {
      "main": [
        [
          {
            "node": "Convertir texto a voz",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje AxIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir texto a voz": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Enviar Audio a whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Audio a whatsapp": {
      "main": [
        [
          {
            "node": "Guardar mensaje de AxIA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje AxIA": {
      "main": [
        [
          {
            "node": "Guardar mensaje de AxIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos por defecto para desconocido": {
      "main": [
        [
          {
            "node": "Extraer Datos de contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "82ea3f1e-882a-4e0e-9ccd-1fdb2f4e5a33",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acbe4886bb640193b7d7f195a6abf74ee0499914fde1faab8269559e28ff2176"
  },
  "id": "VmUSHa1U3tCaRJ83",
  "tags": []
}
